* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeSpeed;
  font-weight: 1rem;
  height: 100%;

  background: #111111;
  font-family: "Inter", "Rufina", sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  background: #111111;
  position: relative;
}
.navigation {
  width: 100%;
  padding: 30px 30px 50px 30px;
  display: flex;
  justify-content: space-between;
}

.menu-btn {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.menu-icon {
  font-size: 50px;
}
.overflowHide {
  overflow: hidden;
}
.mobile-close-button {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  position: absolute;
  right: 30px;
  top: 30px;
}
.close-icon {
  font-size: 50px;
}
.mobile-nav {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #111;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transform: translateX(100%);
  position: fixed;
  display: flex;
  transition: all ease-in-out 300ms;
  justify-content: center;
  align-items: center;
}

.mobile-nav-links {
  text-align: center;
  list-style: none;
}

.mobile-nav-links li {
  width: fit-content;
  margin: 0 auto 50px auto;
}

.mobile-nav-links li:last-child {
  margin-bottom: 0;
}
.nav-links {
  display: none;
}
.link {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
  text-decoration: underline;
}
.logo {
  font-family: "Rufina";
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.intro {
  width: 100%;
  padding: 30px;
  color: #fff;
}

.intro h2 {
  font-family: "Rufina";
  font-weight: bold;
  font-size: 39px;
  margin-bottom: 30px;
}

.intro p {
  margin-bottom: 30px;
  font-size: 20px;
}

.intro a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  width: fit-content;
  align-items: center;
  text-decoration: none;
}

.intro a::after {
  content: "";
  clear: both;
  width: 65px;
  height: 12px;
  display: block;
  margin-left: 30px;
  background: url("./assets/arrow-long.png");
}

.designs {
  width: 100%;
  padding: 30px;
  position: relative;
}

.design {
  color: #fff;
}

.designer-card {
  position: absolute;
  bottom: -15%;
  right: 10%;
  width: 323px;
  height: 171px;
  background: #111;
  padding: 23px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
}
.designer-info {
  margin-bottom: 15px;
  display: flex;
}

.designer-image {
  object-fit: cover;
  display: block;
  margin-right: 15px;
}

.designer,
.title {
  font-size: 14px;
}

.title {
  margin-top: 5px;
  color: #797979;
}

.design-title {
  font-weight: 700;
  font-family: "Rufina";
  font-size: 24px;
  max-width: 227px;
}
.design-image {
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 768px) {
  .intro h2 {
    font-size: 43px;
  }
  .nav-links {
    display: none;
  }
  .design-image {
    height: 528px;
  }

  .designer-card {
    bottom: -15%;
    right: 6%;
    width: 36.43rem;
    padding: 46px 30px;
    height: 334.57px;
  }
  .designer,
  .title {
    font-size: 18px;
  }
  .design-title {
    font-size: 38px;
    max-width: 357px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation {
    padding: 31.5px 81px;
  }

  .intro {
    width: 45%;
    padding: 0;
  }

  .main-content {
    display: flex;
    align-items: center;
    padding: 31.5px 81px;
    justify-content: space-between;
  }

  .designs {
    width: fit-content;
  }

  .design-image {
    width: 608px;
    height: 428px;
  }

  .designer-card {
    width: 431px;
    padding: 30px 40px;
    height: 234px;
  }

  .designer-info {
    margin-bottom: 20px;
  }
  .menu-btn {
    display: none;
  }

  .nav-links {
    display: flex;
  }

  .link {
    font-size: 20px;
    font-weight: 400;
    margin-left: 54px;
  }

  .link:active,
  .link:hover {
    font-weight: 400;
  }
}

@media screen and (min-width: 1440px) {
  .intro {
    width: 33%;
  }

  .intro h2 {
    font-size: 54px;
  }
  .intro p,
  .intro a {
    font-size: 22px;
  }

  .intro a::after {
    width: 65px;
    background: url("./assets/arrow-long.png");
  }
}

@media screen and (min-width: 1920px) {
  .navigation {
    padding: 63px 162px;
  }
  .main-content {
    padding: 0px 162px;
  }

  .intro h2 {
    font-size: 64px;
    font-weight: 700;
  }

  .intro p {
    min-width: 585px;
    font-size: 32px;
    margin-bottom: 60px;
  }

  .intro a {
    font-size: 32px;
  }

  .intro a::after {
    width: 65px;
    background: url("./assets/arrow-long.png");
  }

  .nav-links li {
    margin-left: 104px;
    height: fit-content;
  }

  .link {
    font-size: 24px;
    margin: 0;
  }

  .design-image {
    width: 808px;
    height: 628px;
  }

  .designer-card {
    width: 631.96px;
    height: 334.57px;
    padding: 40.78px 60.3px;
  }

  .designer-image {
    width: 97.83px;
    height: 97.83px;
    margin-right: 29.13px;
  }
  .designer,
  .title {
    font-size: 24px;
  }

  .designer-info {
    margin-bottom: 45.17px;
  }

  .title {
    margin-top: 14.57px;
  }
  .design-title {
    min-width: 483px;
    font-size: 48px;
  }
}
